@model  WebApplication2.Controllers.modelClass

@{
    ViewBag.Title = "RecipesView";
    var Category = (IEnumerable<WebApplication2.Models.Category>)Model.db.Category;
    var Users = (IEnumerable<WebApplication2.Models.AspNetUsers>)Model.db.AspNetUsers;
    var Recipes = (IEnumerable<WebApplication2.Models.Recipes>)Model.db.Recipes;
}

<h2>Przepisy</h2>
<hr />

<div class="row">
    <div class="col-md-3 col-xs-12" >
        <div style="text-wrap:normal">
            @Html.ListBoxFor(model => model.selectedRecipe, new SelectList((IEnumerable<WebApplication2.Models.Recipes>)Model.db.Recipes, "recipe_ID", "title"), new { @id = "ListBox1", @class = "form-control", size = "40" })
            <p>
                @Html.ActionLink("Dodaj przepis", "AddRecView", "Member")
            </p>
        </div>
    </div>

    <div class="col-md-9 col-xs-12">
        <div id="partial1">
            <div class="col-md-12 col-xs-6 ">


            </div>
            <h1 class="text-center" style="font">Wybierz Przepis</h1>

        </div>
    </div>
</div>


<span id="span1"></span>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(this.document).ready(function () {

        $('#ListBox1').change(function () {

            var selectedID = $(this).find('option:selected').val();
            $.ajax({
                type: "GET",
                url: "/Home/_partial",
                data: { id: selectedID },
                success: function (data) {
                    $("#partial1").html(data);
                    $('#partial1').fadeIn('fast');
                },
                error: function () {
                    alert("BŁĄD");
                }

            });

        });
    });
</script>


